In [ ]:
import pandas as pd
sales = pd.DataFrame({
    "region":["E","E","W","N","N"],
    "sales":[100,200,150,120,180]
})

sales.groupby("region")["sales"].sum()

region
E    300
N    300
W    150
Name: sales, dtype: int64